# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/
.env

# -----------------------------
# Environment variables / secrets
# -----------------------------
.env
*.env
.env.*

# -----------------------------
# Logs
# -----------------------------
*.log
app.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Python packaging
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Test / coverage
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Misc
# -----------------------------
*.sqlite3